.env.local
.eslintcache
.idea
TODO.md
dist/
node_modules/
shell.nix
src/playground
cypress/screenshots
cypress/downloads
.ddev/

# vim swap files
*.swp

# GitHub Act
.actrc
.secrets
.github/**/act*.json

