<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="<%= metaRobots %>" />
    <title><%= title %></title>
    <meta property="og:title" content="<%= title %>">
    <meta name="description" content="<%= meta_description %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta name="keywords" content="<%= meta_keywords %>">
    <link rel="canonical" href="<%= canonical_url %>">
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <noscript>
      Désolé, ce site ne fonctionne pas encore sans javascript.
    </noscript >
  </body>
</html>
