# config file for logistique.data.gouv.fr

datagouvfr:
  # data.gouv.fr base URL
  base_url: https://www.data.gouv.fr
  # oauth settings
  # FIXME:
  oauth_client_id: 6709257a89f70088a223eba3
universe:
  # "universe" topic id
  topic_id: 66d5caab2ef9e95fc1625446
  # universe name, used as bouquets tag
  name: logistique

robots:
  disallow:
  sitemap:
  meta: 'noindex, nofollow'

# UI customizations
website:
  title: 'logistique.data.gouv.fr'
  formatted_title: '<i>logistique.</i><b>data.gouv</b><i>.fr</i>'
  rf_title: 'MINISTÈRE<br>
    DE LA TRANSITION<br>ECOLOGIQUE'
  service_logo: '/logos/logistique-logo.svg'
  badge:
    display: true
    text: 'BETA'
    style: 'blue-cumulus'
  # leave empty if not pertinent
  homepage:
    title: 'Les données ouvertes de la logistique'
    subtitle: 'logistique.data.gouv.fr centralise et structure les données publiques relatives à la logistique. Vous y trouverez des données brutes téléchargeables et utilisables de manière libre et gratuite.'
    sections:
      - title: Des bouquets de données pour articuler politiques publiques et données territoriales
        content: "Créez un bouquet pour inventorier les données utiles à un cas d'usage : une politique publique sur un territoire"
        sub_section_datasets:
        sub_section_cards:
          title:
          cards:
            - name: 'Immobilier logistique'
              description: "Données sur l'immobilier dédié aux activités de logistique (bâti, entrepôts, stockage, etc.)."
              url: 'bouquets?theme=Immobilier+logistique'
              image_url: '/logistique/assets/immobilier.jpg'
            - name: 'Infrastructure'
              description: "Données sur l'infrastructure des activités de logistique (réseaux, voirie, zones livraison, etc.)."
              url: 'bouquets?theme=Infrastructure'
              image_url: '/logistique/assets/infra.jpg'
            - name: 'Trafic'
              description: 'Données sur le flux des activités de logistique (trafic routier, fluvial, maritime, ferroviaire et aérien).'
              url: 'bouquets?theme=Trafic'
              image_url: '/logistique/assets/trafic.jpg'
            - name: 'Environnement'
              description: "Données offrant une base pour réaliser des études approfondies sur l'impact environnemental de la logistique."
              url: 'bouquets?theme=Environnement'
              image_url: '/logistique/assets/environnement.jpg'
            - name: 'Socio-économique'
              description: 'Bases essentielles pour étudier les interactions entre les dimensions sociales et économiques de la logistique.'
              url: 'bouquets?theme=Socio-économique'
              image_url: '/logistique/assets/socio.jpg'
            - name: 'Filières'
              description: 'Données sur les différentes filières relatives aux activités de logistique (agricole, industielle, énergétique...).'
              url: 'bouquets?theme=Filières'
              image_url: '/logistique/assets/risques.jpg'
        sub_section_tiles:
        sub_section_buttons:
    meta_description:
  header_button:
    display: true
    label: 'Donnez votre avis'
    link:
  header_search:
    display: true
    placeholder: Rechercher...
  search_bar:
    display: true
    placeholder: 'Rechercher un jeu de données'
  secondary_search:
    display: false
    name:
    link:
  menu:
    - text: Accès aux données
      to: /bouquets
    - text: A propos
      to: /about
  router:
    disable:
      - organizations_routes
      - topics
    pages:
      - title: 'A propos'
        id: 'about'
        route: '/about'
        url: '/logistique/pages/about.md'
      - title: 'Accessibilité'
        id: 'accessibility'
        route: '/accessibility'
        url: '/logistique/pages/accessibility.md'
  show_quality_component: true
  list_search_topics:
  url_search_topics: 'datasets'
  oauth_option: true
  footer_phrase: 'Ce site est une déclinaison thématique de data.gouv.fr sur les données relatives à logistique réalisé en collaboration avec la DGITM.'
  footer_external_links:
    - label: 'data.gouv.fr'
      href: 'https://www.data.gouv.fr'
  footer_mandatory_links:
    - label: 'Licences'
      href: 'https://www.data.gouv.fr/fr/pages/legal/licences/'
    - label: "Conditions générales d'utilisation"
      href: 'https://www.data.gouv.fr/fr/terms/'
    - label: 'Politique de confidentialité'
      href: 'https://www.data.gouv.fr/fr/suivi/'
    - label: 'Accessibilité : non conforme'
      to: '/accessibility'
  logo_operator:
  notice:
    display: false
    content: Notice avec un [lien beta](/beta) et du _style_
    closeable: false
  # debounce high enough for accessibility (screen readers will announce results)
  default_debounce_wait: 600
  # display settings
  pagination_sizes:
    organizations_list: 9
    topics_list: 20
    files_list: 6
  home_banner_colors:
    - '#D2EAF7'
    - '#DBF3F8'
    - '#DBF2F0'
  env: 'prod'
  matomo:
    host: 'https://stats.data.gouv.fr'
    siteId: 308
  discussions:
    dataset:
      display: true
      create: true
    topic:
      display: true
      create: true
  datasets:
    organization_filter: false
    add_to_bouquet: true
    # similar to QUALITY_METADATA_BACKEND_IGNORE on data.gouv.fr
    harvest_backends_quality_warning: []
    show_extended_information_panel: false
  topics:
    slug: bouquets
    name: bouquet de donnée
    extras_key: 'logistique'
    themes:
      usage: true
      main_name: catégorie
      secondary_name: sous-catégorie
    # include a list page with all topics
    list_all: false
    display_metadata: false
    activate_read_more: false
    dataset_editorialization: true
    can_add_topics:
      everyone: yes
themes:
  - name: Immobilier logistique
    color: '#043574'
    textColor: '#FFFFFF'
    subthemes:
      - name: Général
  - name: Infrastructure
    color: '#043574'
    textColor: '#FFFFFF'
    subthemes:
      - name: Général
  - name: Trafic
    color: '#043574'
    textColor: '#FFFFFF'
    subthemes:
      - name: Général
      - name: Transport routier
      - name: Transport aérien
      - name: Transport ferroviaire
      - name: Transport fluvial
      - name: Transport maritime
  - name: Filières
    color: '#043574'
    textColor: '#FFFFFF'
    subthemes:
      - name: Général
      - name: Filière agricole
      - name: Filière industrielle
      - name: Filière énergétique
      - name: Filière pharmaceutique
      - name: Filière commerce
      - name: Filière matériaux de construction
      - name: Filière matière premières
  - name: Environnement
    color: '#043574'
    textColor: '#FFFFFF'
    subthemes:
      - name: Général
  - name: Socio-économique
    color: '#043574'
    textColor: '#FFFFFF'
    subthemes:
      - name: Général

# list of organisations' ids that should be handled by the portal
# to find an id go to https://www.data.gouv.fr/fr/organizations/ministere-de-la-transition-ecologique/
# then Informations > ID at the bottom of the page
organizations:
