# config file for hackathon.data.gouv.fr

site_id: hackathon

datagouvfr:
  # data.gouv.fr base URL
  base_url: https://www.data.gouv.fr
  # oauth settings
  oauth_client_id: 673cbedb47b01e3f79eea45c
  tabular_api_url:

robots:
  disallow:
  sitemap:
  meta: 'noindex, nofollow'

# UI customizations
website:
  title: 'hackathon.data.gouv.fr'
  formatted_title: '<i>hackathon.</i><b>data.gouv</b><i>.fr</i>'
  rf_title: 'RÉPUBLIQUE<br>FRANÇAISE'
  service_logo: '/static/logos/hackathon-logo.svg'
  badge:
    display: true
    text: 'BETA'
    style: 'blue-cumulus'
  # leave empty if not pertinent
  homepage:
    title: Les hackathons de la Direction interministérielle du numérique
    subtitle: Retrouvez toutes les ressources et informations des hackathons organisés par la DINUM et ses partenaires.
    sections:
      - title:
        content:
        sub_section_datasets:
        sub_section_cards:
        sub_section_tiles:
          title:
          class: 'fr-col-md-6'
          tiles:
            - id: 'find'
              name: 'Voir le prochain hackathon "Le climat en données"'
              description: 'Explorez les données mises à disposition et disponibles pour le hackathon'
              url: '/hackathons/hackathon-le-climat-en-donnees/'
            - id: 'guide'
              name: 'Consulter le guide du hackathon "Le climat en données"'
              description: 'Parcourez le guide qui vous accompagnera pendant toute la durée du hackathon avec des informations, des ressources et des bonnes pratiques.'
              url: 'https://guides.data.gouv.fr/guide-du-participant-au-hackathon-le-climat-en-donnees/'

        sub_section_buttons:
    meta_description:
  header_button:
    display: false
    label: 'Donnez votre avis'
    link:
  header_search:
    display: false
    placeholder: Rechercher...
  search_bar:
    display: false
    placeholder: 'Rechercher un jeu de données'
  secondary_search:
    display: false
    name:
    link:
  menu:
    - text: Tous les hackathons
      to: /hackathons/
    - text: Guide du prochain hackathon
      to: 'https://guides.data.gouv.fr/guide-du-participant-au-hackathon-le-climat-en-donnees/'
  router:
    disable:
      - organizations_routes
      - topics
    static_pages:
      - title: 'Accessibilité'
        id: 'accessibility'
        route: '/accessibility'
        url: '/static/hackathon/pages/accessibility.md'
      - title: 'A propos du hackathon'
        id: 'a-propos-du-hackathon'
        route: '/a-propos-du-hackathon'
        url: '/static/hackathon/pages/a-propos-du-hackathon.md'
      - title: 'Avant le hackathon'
        id: 'avant-le-hackathon'
        route: '/avant-le-hackathon'
        url: '/static/hackathon/pages/avant-le-hackathon.md'
      - title: 'Pendant le hackathon'
        id: 'pendant-le-hackathon'
        route: '/pendant-le-hackathon'
        url: '/static/hackathon/pages/pendant-le-hackathon.md'
  show_quality_component: true
  oauth_option: true
  footer_phrase: "Ce site est une déclinaison thématique de data.gouv.fr permettant de lister les jeux de données utilisés dans le cadre d'événements de type hackathon par l'équipe data.gouv.fr ou ses partenaires."
  footer_external_links:
    - label: 'data.gouv.fr'
      href: 'https://www.data.gouv.fr'
  footer_mandatory_links:
    - label: 'Licences'
      href: 'https://www.data.gouv.fr/fr/pages/legal/licences/'
    - label: "Conditions générales d'utilisation"
      href: 'https://www.data.gouv.fr/fr/terms/'
    - label: 'Politique de confidentialité'
      href: 'https://www.data.gouv.fr/fr/suivi/'
    - label: 'Accessibilité : non conforme'
      to: '/accessibility'
  logo_operator:
  notice:
    display: false
    content: Notice avec un [lien beta](/beta) et du _style_
    closeable: false
  # debounce high enough for accessibility (screen readers will announce results)
  default_debounce_wait: 600
  # display settings
  pagination_sizes:
    organizations_list: 9
    topics_list: 20
    files_list: 6
  home_banner_colors:
    - '#D8E3A0'
    - '#BFDCB7'
    - '#A7D5CD'
  env: 'prod'
  matomo:
    host:
    siteId:
  datasets:
    add_to_topic:
    # similar to QUALITY_METADATA_BACKEND_IGNORE on data.gouv.fr
    harvest_backends_quality_warning: []
    show_extended_information_panel: false
  topics:
    can_add_topics:
      everyone: false
      authorized_users:
        - 5fda299e56f984a4b126afe1 # thanh-ha
        - 5e6f426e634f417810ab794b # geoffrey
        - 65e8b5082f2504e916c8f6da # ecospheres

pages:
  # HACKATHONS
  hackathons:
    list_all: true
    universe_query:
      tag: hackathon
    filter_prefix:
    title: Hackathons
    breadcrumb_title: Hackathons
    labels:
      singular: hackathon
      plural: hackathons
      extended: hackathon
    search:
      input: Filtrer les hackathons
    banner:
    resources_tabs:
      discussions:
        display: true
        create: true
      datasets:
        display: true
      reuses:
        display: true
    editable: true
    filters:
      - name: Catégorie
        default_option: Toutes les catégories
        id: category
        type: select
        color: green-emeraude
        use_filter_prefix: false
        form:
          required: true
        values:
          - id: alimentaire
            name: Données alimentaires
          - id: climat
            name: Données utiles pour les analyses climatiques
  # DATASETS
  datasets:
    list_all: false
    universe_query:
    filter_prefix:
    title:
    breadcrumb_title: Données
    labels:
      singular: jeu de données
      plural: jeux de données
      extended: jeu de données
    search:
      input:
    banner:
    resources_tabs:
      discussions:
        display: true
        create: true
      datasets:
        display: true
      reuses:
        display: true
    editable: true
    filters: []

# list of organisations' ids that should be handled by the portal
# to find an id go to https://www.data.gouv.fr/fr/organizations/ministere-de-la-transition-ecologique/
# then Informations > ID at the bottom of the page
organizations:
