:root {
  --blue-france-975-75: var(--blue-cumulus-975-75);
  --blue-france-975-75-hover: var(--blue-cumulus-975-75-hover);
  --blue-france-975-75-active: var(--blue-cumulus-975-75-active);
  --blue-france-950-100: var(--blue-cumulus-950-100);
  --blue-france-950-100-hover: var(--blue-cumulus-950-100-hover);
  --blue-france-950-100-active: var(--blue-cumulus-950-100-active);
  --blue-france-sun-113-625: var(--blue-cumulus-sun-368-moon-732);
  --blue-france-sun-113-625-hover: var(--blue-cumulus-sun-368-moon-732-hover);
  --blue-france-sun-113-625-active: var(--blue-cumulus-sun-368-moon-732-active);
  --blue-france-925-125: var(--blue-cumulus-925-125);
  --blue-france-925-125-hover: var(--blue-cumulus-925-125-hover);
  --blue-france-925-125-active: var(--blue-cumulus-925-125-active);
  --blue-france-975-sun-113: var(--blue-cumulus-975-75);
  --blue-france-main-525: var(--blue-cumulus-main-526);
  --blue-france-850-200: var(--blue-cumulus-850-200);
  /* toastify */
  --toastify-color-success: #1f8d49; /* --success-main-525 (unavailable to date) */
  /* DSFR contrast fix */
  --blue-cumulus-sun-368-moon-732-hover--fix: #516fb3;
}

@font-face {
  font-weight: 600;
  font-family: Spectral;
  font-style: italic;
  src: url('./fonts/Spectral-Italic.woff2') format('woff2'),
    url('./fonts/Spectral-Italic.woff') format('woff');

  font-display: swap;
}

.multiselect {
  --ms-bg: var(--background-contrast-grey);
  margin: 8px 0;
}

.fr-col-sm-45 {
  flex: 0 0 45%;
  max-width: 45%;
  width: 45%;
}

.fit {
  width: fit-content;
}

.small {
  font-size: 0.8em;
}

/* ELEMENT DISPLAY */
.block {
  display: block;
}

/* FONT CUSTOM */
.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

/* ALIGNMENT */
.justify-between {
  justify-content: space-between;
}

.align-baseline {
  align-items: baseline;
}

.align-center {
  align-items: center;
}

.align-right {
  text-align: right;
}

.actionTile {
  background: #000092;
  .fr-tile__link {
    color: white;
  }
}

.fr-fieldset {
  margin: 30px 0;
}

.dsfr_alert {
  margin: 20px 0;
}

textarea {
  margin: 20px 0;
  height: 250px;
}

/* Remove list styles on ul, ol elements with a list role, which tells browsers the list still behave as a list even without default styles */
:where(ol, ul)[role='list'] {
  list-style: none;
}

/* overload datagouv-components */
.datagouv-components h3.fr-accordion__title {
  margin-bottom: 0;
}

.datagouv-components .fr-tabs {
  z-index: auto;
  --ground: 1;
}

.datagouv-components h1 {
  margin-bottom: 1.5rem;
}

/* Button color contrast fix */
.fr-btn:not(
    .fr-btn--secondary,
    .fr-btn--tertiary,
    .fr-btn--tertiary-no-outline,
    a.fr-btn
  ),
.fr-pagination__link[aria-current] {
  --hover: var(--blue-cumulus-sun-368-moon-732-hover--fix);
}

/* FIXME */

/* https://github.com/datagouv/udata-front/issues/499 */
.fr-badge.fr-badge--info.fr-badge--info::before {
  -webkit-mask-image: url(/node_modules/@gouvfr/dsfr/dist/icons/system/fr--info-fill.svg);
  mask-image: url(/node_modules/@gouvfr/dsfr/dist/icons/system/fr--info-fill.svg);
}
