.multiselect {
  --ms-bg: var(--background-contrast-grey);
}

.fr-col-sm-45 {
  flex: 0 0 45%;
  max-width: 45%;
  width: 45%;
}

.fit {
  width: fit-content;
}

/* ELEMENT DISPLAY */
.block {
  display: block;
}

/* FONT CUSTOM */
.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

/* ALIGNMENT */
.justify-between {
  justify-content: space-between;
}

.align-baseline {
  align-items: baseline;
}

.align-center {
  align-items: center;
}

.without_breadcrumb {
  margin: 128px 0 0;
}

.with_breadcrumb {
  margin: 60px 0 0;
}

.breadcrumb {
  margin-top: 40px;
  text-align: left;
}

.actionTile {
  background: #000092;
  .fr-tile__link {
    color: white;
  }
}