:root {
  --blue-france-975-75: var(--blue-cumulus-975-75);
  --blue-france-975-75-hover: var(--blue-cumulus-975-75-hover);
  --blue-france-975-75-active: var(--blue-cumulus-975-75-active);
  --blue-france-950-100: var(--blue-cumulus-950-100);
  --blue-france-950-100-hover: var(--blue-cumulus-950-100-hover);
  --blue-france-950-100-active: var(--blue-cumulus-950-100-active);
  --blue-france-sun-113-625: var(--blue-cumulus-sun-368-moon-732);
  --blue-france-sun-113-625-hover: var(--blue-cumulus-sun-368-moon-732-hover);
  --blue-france-sun-113-625-active: var(--blue-cumulus-sun-368-moon-732-active);
  --blue-france-925-125: var(--blue-cumulus-925-125);
  --blue-france-925-125-hover: var(--blue-cumulus-925-125-hover);
  --blue-france-925-125-active: var(--blue-cumulus-925-125-active);
  --blue-france-975-sun-113: var(--blue-cumulus-975-75);
  --blue-france-main-525: var(--blue-cumulus-main-526);
  --blue-france-850-200: var(--blue-cumulus-850-200);
}

@font-face {
  font-weight: 600;
  font-family: Spectral;
  font-style: italic;
  src: url("./fonts/Spectral-Italic.woff2") format("woff2"),
      url("./fonts/Spectral-Italic.woff") format("woff");

  font-display: swap;
}

.multiselect {
  --ms-bg: var(--background-contrast-grey);
}

.fr-col-sm-45 {
  flex: 0 0 45%;
  max-width: 45%;
  width: 45%;
}

.fit {
  width: fit-content;
}

/* ELEMENT DISPLAY */
.block {
  display: block;
}

/* FONT CUSTOM */
.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

/* ALIGNMENT */
.justify-between {
  justify-content: space-between;
}

.align-baseline {
  align-items: baseline;
}

.align-center {
  align-items: center;
}

.without_breadcrumb {
  margin: 128px 0 0;
}

.with_breadcrumb {
  margin: 60px 0 0;
}

.breadcrumb {
  margin-top: 40px;
  text-align: left;
}

.actionTile {
  background: #000092;
  .fr-tile__link {
    color: white;
  }
}

.dsfr_alert {
  margin: 20px 0;
}