.multiselect {
  --ms-max-height: 20rem;
  --ms-bg: var(--background-contrast-grey);
  --ms-spinner-color: var(--blue-cumulus-sun-368-moon-732);
  --ms-option-bg-selected: var(--blue-cumulus-sun-368-moon-732);
  --ms-option-bg-pointed: var(--blue-cumulus-sun-368-moon-732);
  --ms-option-color-pointed: var(--background-contrast-grey);
  --ms-option-bg-selected-pointed: var(--blue-cumulus-sun-368-moon-732-hover);
  &&,
  &&.is-active {
    border: none;
    box-shadow: none;
  }
  .multiselect-caret {
    --ms-px: 1rem;
    --data-uri-svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23161616' d='m12 13.1 5-4.9 1.4 1.4-6.4 6.3-6.4-6.4L7 8.1l5 5z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--data-uri-svg);
    mask-image: var(--data-uri-svg);
    width: 1.1rem;
    transition: none;
  }
  .multiselect-caret.is-open {
    transform: none;
    transition: none;
  }
  .multiselect-option {
    position: relative;

    &:has(button) {
      padding: 0;
    }

    button {
      --hover-tint: inherit;
      --active-tint: var(--background-action-high-blue-france-active);
      padding: 0.75rem;
      block-size: 100%;
      inline-size: 100%;
      text-align: left;

      &:focus {
        outline-offset: -4px;
      }
    }

    &.is-pointed {
      button:focus {
        outline-color: var(--background-default-grey);
      }
    }
  }
  .multiselect-dropdown {
    overflow-y: auto;
  }
}
.multiselect:has(.multiselect-single-label .card) {
  --ms-bg: var(--background-default-grey);
  border: 1px solid var(--background-contrast-grey);
}
.multiselect-wrapper {
  --ms-radius: 0.25rem 0.25rem 0 0;
  --ms-caret-color: var(--border-plain-grey);
}
/* dsfr-input style */
.multiselect-search {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
}
