.multiselect__option,
.multiselect__single {
  white-space: normal;
  h4 {
    font-size: 1.2rem;
  }
}
.multiselect__option--highlight {
  background-color: var(--background-alt-grey-active);
  color: var(--text-default-grey);
}
.multiselect__option--highlight::after {
  background-color: var(--background-alt-grey-active);
  color: var(--text-default-grey);
}
.multiselect__spinner::before,
.multiselect__spinner::after {
  border-color: var(--background-alt-grey-active) transparent transparent;
  top: 60%;
}
.multiselect__select::before {
  top: 80%;
  border-top-color: var(--border-plain-grey);
}
.multiselect__clear {
  position: absolute;
  right: 15px;
  height: 40px;
  width: 40px;
  display: block;
  cursor: pointer;
  z-index: 3;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 16px;
    background-color: var(--border-plain-grey);
    top: 30%;
    right: 4px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
.multiselect__tags {
  --idle: transparent;
  --hover: var(--background-contrast-grey-hover);
  --active: var(--background-contrast-grey-active);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: var(--background-contrast-grey);
  border-radius: 0.25rem 0.25rem 0 0;
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
  color: var(--text-title-grey);
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  width: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
  & > .multiselect__single {
    padding: 0;
    background-color: var(--background-contrast-grey);
  }
}
.multiselect__tags:focus-within {
  outline: 2px solid #0a76f6;
  outline-offset: -2px;
}
.multiselect__input {
  padding: 0;
  background-color: transparent;
}
