name: Generate robots.txt

on:
  push:
    branches:
      # deployment branches
      - ecospheres-prod
      - ecospheres-demo
      - simplifions-prod
      # - meteodatagouvfr-prod
      # - defisdatagouvfr-prod

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'
      - run: npm ci
      - name: Set VITE_SITE_ID based on branch name
        run: |
          BRANCH_NAME="${{ github.ref_name }}"
          VITE_SITE_ID=$(echo "$BRANCH_NAME" | cut -d'-' -f1)
          echo "VITE_SITE_ID=$VITE_SITE_ID" >> $GITHUB_ENV
      - run: npm run generate-robots-txt
      - run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add public/robots.txt
          git commit -m "Update robots.txt [skip ci]" || echo "No changes to commit"
          git push origin ${{ github.ref }}
