name: Generate robots.txt

on:
  push:
    branches:
      # deployment branches
      - ecospheres-prod
      - ecospheres-demo
      - simplifions-prod
      # - meteodatagouvfr-prod
      # - defisdatagouvfr-prod

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Install pnpm
        uses: pnpm/action-setup@9fd676a19091d4595eefd76e4bd31c97133911f1 # v4.2.0
      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20.x
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run generate-robots-txt
      - run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add public/robots.txt
          git commit -m "Update robots.txt [skip ci]" || echo "No changes to commit"
          git push origin ${{ github.ref }}
