# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Run tests

on:
  push:
    branches: ['main']
  pull_request:

jobs:
  lint-and-type-check:
    name: Lint and type check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run type-check
      - run: pnpm run lint

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm run test:single

  e2e-tests:
    name: End-to-end Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        site_id:
          [
            ecospheres,
            meteo-france,
            defis,
            hackathon,
            logistique,
            simplifions,
            culture
          ]
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'pnpm'
      - run: pnpm install
      - run: VITE_SITE_ID=${{ matrix.site_id }} pnpm run build -- --mode test
      - run: VITE_SITE_ID=${{ matrix.site_id }} pnpm run test:e2e:for_production_build
